*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.container{
background: lightgray;
max-width: 90vw;
height: 90vh;
width: 95%;
margin: 2px auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-betwee;
padding: 20px 0px;
gap: 5px;
border-radius: 8px;
box-shadow: 2px 2px 2px 2px gray;
overflow: hidden;

}

.bars_container{
display: flex;
flex-direction: row;
transform: rotateY(180deg) rotate(180deg) ;

}

.bar{

width: 10px;
background-color: lightsalmon;
border-radius: 1px;
border: 1px solid lightgray;

}

.body{
background-color: lightsalmon;
}

button, select{
	width: 150px;
   height: 30px;
   background-color: #677685;
   border: none;
   border-radius: 5px;
   color: white;
   font-size: 14px;
   cursor: pointer;
   text-align: center;
   transition:  0.2s ease-in-out;
   margin: 2px;
}

button:hover, select:hover{
    background-color: #56594b;
    box-shadow: 1px 1px 1px 1px black;
}

#slide_container{
display: flex;
flex-direction: column;
cursor: pointer;
}

